<div class="main-container">
    <div class="info-container">
        <h1><span class="text-info">Nome:</span> {{name}}</h1>
        <h1><span class="text-info">Idade:</span> {{age}}</h1>
        <h1><span class="text-info">Trabalho:</span> {{job}}</h1>
    </div>
    <div class="info-container">
        <h1><span class="text-info">Principal Hobby: </span>{{hobby[1]}}</h1>
        <h1><span class="text-info">Nome do carro: </span>{{car.name}}</h1>
        <h1><span class="text-info">Ano do carro: </span>{{car.year}}</h1>
    </div>
</div>