<p class="text-bold-content-centered text-info">Informações pessoais</p>
<div class="main-container-big-font">
    <div class="main-grid">
        <p><span class="text-info">Nome:</span> {{name}}</p>
        <p><span class="text-info">Idade:</span> {{age}}</p>
        <p><span class="text-info">Trabalho:</span> {{job}}</p>
        <p><span class="text-info">Principal Hobby: </span>{{hobby[1]}}</p>
        <p><span class="text-info">Nome do carro: </span>{{car.name}}</p>
        <p><span class="text-info">Ano do carro: </span>{{car.year}}</p>
    </div>
</div>